@page "/"
<PageTitle>FleetFlow</PageTitle>

<h1 class="text-center">Our team</h1>

<p>These Are our team</p>

<div class="d-flex flex-wrap">
    @for (int i = 0; i < 25; i++)
    {
        <div class="card" style="width: 18rem; margin: 10px">
            <img class="card-img" src="https://avatars.githubusercontent.com/u/75162831?v=4" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Our Main Memeber</p>
                <a href="#" class="read-more-btn">Read More</a>
            </div>
        </div>
       @*asdaad *@
    }
</div>